*/__pycache__
*.pyc
*.txt
*/.ipynb_checkpoints
*.egg-info

.ROMS
*.mp4
**venv
build
*cache*
*.png
output
data/**.png
**.tar.bz2
**.zip
ray_results
*.np
*.pkl
*.svg
**/*.pt
*.csv
tests/assets/*
uv.lock

# Old dir structure
runs
logs
recordings
trained_models
*.html
*.bin

# Mac
*output*
data/*
active_gym*
*.DS_Store
.idea

