*/__pycache__
*.pyc
*.txt
*/.ipynb_checkpoints
*.egg-info

.ROMS
*.mp4
**venv
build
*cache*
*.png
output
data
ray_results
*.np
*.pkl
*.svg
**/*.pt
*.csv

# Old dir structure
runs
logs
recordings
trained_models